<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyScienceEntities" connectionString="metadata=res://*/MyScienceDB.csdl|res://*/MyScienceDB.ssdl|res://*/MyScienceDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mma1mtoeql.database.windows.net;initial catalog=users;persist security info=True;user id=dynovader;password=592Mayfield; multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>